.landing-page {
  background-color: $grey-300;

  &-text {
    padding: 2.4rem;
    color: $gold;

    h1 {
      color: $gold;
    }

    p {
      font-size: $h4-fs;
    }
  }

  .img-block {
    height: 20rem;
    width: 100%;
    background-color: $grey-400;
  }
  @media screen and (min-width: 768px) {
    margin-right: $nav-logo-w;

    &-text {
      padding: 5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    &-text {
      p {
        font-size: $h5-fs;
      }
    }
  }
}