// Layout
.container {
  background-color: $site-bgc;
  padding: $spacing-xs;
  box-sizing: border-box;

  @media screen and (min-width: 1024px) {
    padding: calc(#{$spacing-l} / 2) $spacing-l;
  }
}

@media screen and (min-width: 1024px) {
  .mr5-m {
    margin-right: $spacing-l;
  }

  .w-40-m {
    width: 40%;
  }

  .w-60-m {
    width: 60%;
  }
}


// Type
.title {
  letter-spacing: .3rem;
}

.subtitle {
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: $navy;
}

// Custom colours
.enrichme .title {
  color: $enrichme;
}

.bcito .title {
  color: $bcito;
}

.fwaste .title {
  color: $fwaste;
}

// Colour
.site-bgc {
  background-color: $site-bgc;
}