// Layout
.container {
  background-color: $site-bgc;
  padding: $spacing-xs;

  @media screen and (min-width: 768px) {
    margin-right: $spacing-l;
    padding: calc(#{$spacing-l} / 2) $spacing-l;
  }
}


// Type
.title {
  letter-spacing: .3rem;
}

.subtitle {
  font-family: 'Brandon Grotesque', sans-serif;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: $navy;
}

// Custom colours
.enrichme .title {
  color: $enrichme;
}

.bcito .title {
  color: $bcito;
}

.fwaste .title {
  color: $fwaste;
}

// Colour
.site-bgc {
  background-color: $site-bgc;
}