// Colour
$white:      #ffffff;
$grey-300:   #f8f8f8;
$grey-400:   #f2f2f2;
$navy:       #0F4154;
$gold:       #AD8838;
$black:      #4d4d4d;

$enrichme:   lighten($navy, 10%); // #dd3e24;
$bcito:      #0066cc;
$fwaste:     #dd4359;

$copper-1: #A66B56; 
$copper-2: #AD5138;


// Typography
$h1-fs:      4.2rem;
$h2-fs:      3.5rem;
$h3-fs:      2.25rem;
$h4-fs:      1.75rem;
$h5-fs:      1.31rem;
$h6-fs:      1rem;
$body-fs-xs: 1.5rem;
$body-fs-l: 1rem;


// Layout / Spacing
$spacing-xs: 2.4rem;
$spacing-l: 5rem;
$img-block-w: 85%;