$white:      #ffffff;
$grey-300:   #f8f8f8;
$grey-400:   #f2f2f2;
$navy:       #0F4154;
$gold:       #AD8838;


$h1-fs:      4.2rem;
$h2-fs:      3.5rem;
$h3-fs:      2.25rem;
$h4-fs:      1.75rem;
$h5-fs:      1.31rem;
$h6-fs:      1rem;


// Header
$nav-logo-w:    5rem;

// $h1-fs:      6.734rem; // 67px // 4.2em
// $h2-fs:      5.52rem; // 55px // 3.5rem
// $h3-fs:      3.790rem; // 37px  // 2.25rem
// $h4-fs:      2.843rem; // 28px // 1.75rem
// $h5-fs:      2.133rem; // 21px // 1.31rem
// $h6-fs:      1.6rem; // 16px // 1rem 