.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;

  span {
    margin-top: 10px;
    display: block;
    opacity: .6;
  }
}
