.works {
  padding: $spacing-xs;
  background-color: $site-bgc;

  @media screen and (min-width: 1024px) {
    padding: $spacing-xs $spacing-l 0 0;
  }
}

// Work Single
.work {
  margin-bottom: $spacing-xs;
  display: flex;
  flex-direction: column;

  // &.enrichme:hover {
  //   .title,
  //   .subtitle {
  //     color: darken($enrichme, 20%);
  //   }
  // }

  &-text {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .title {
    font-size: $h3-fs;
  }

  .subtitle {
    display: inline-block;
  }

  // Custom colour and hover state
  &.enrichme {
    .subtitle {
      color: $enrichme;
    }

    .work-text:hover {
      .title,
      .subtitle {
        color: darken($enrichme, 10%);
      }
    }
  }

  &.bcito {
    .subtitle {
      color: $bcito;
    }

    .work-text:hover {
      .title,
      .subtitle {
        color: darken($bcito, 10%);
      }
    }
  }

  &.fwaste {
    .subtitle {
      color: $fwaste;
    }

    .work-text:hover {
      .title,
      .subtitle {
        color: darken($fwaste, 10%);
      }
    }
  }

  .line {
    display: none;
    width: 3rem;
    height: 1px;
    margin: .6rem 1.5rem .4rem 0;
    background-color: lighten($black, 40%);
  }

  &-img {
    margin-bottom: 1rem;
    width: calc(100vw - (#{$spacing-xs} * 2));
    height: calc(100vw - (#{$spacing-xs} * 2));
    order: -1;
    overflow: hidden;
    // Delete
    background-color: $black;
  }

  .img {
    width: 100%;
  }

  @media screen and (min-width: 568px) {
    &-img {
      max-height: 20rem;
    }

    .img {
      width: auto;
      height: 100%;
    }
  }

  @media screen and (min-width: 768px) {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;

    &-text {
      margin-left: calc(#{$spacing-l} - 2rem);
      display: block;
      position: absolute;
      top: 20%;
      left: 0;
      z-index: 1;
    }

    .title {
      font-size: $h1-fs;
    }

    .line {
      display: inline-block;
    }

    &-img {
      width: calc(#{$img-block-w} - #{$spacing-l});
      max-height: 25rem;
      order: 2;
    }

    .img {
      width: 100%;
      height: auto;
    }
  }

  @media screen and (min-width: 1024px) {
    .img {
      width: auto;
      height: 100%;
    }
  }
}

// Scroll animation
.out {
  .work {
    opacity: 0;
    transform: translateY(100px);
  }
}

.in {
  .work {
    opacity: 1;
    transform: translateY(0);
    transition: transform 800ms ease, opacity 800ms ease;
  }
}

@media screen and (min-width: 768px) {
  .out {
    .work {
      opacity: 1;
      transform: translateY(0);
    }

    .title,
    .line,
    .subtitle {
      opacity: 0;
      transform: translateY(100px);
    }

    .work-img {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  .in {
    .title,
    .line,
    .subtitle,
    .work-img {
      opacity: 1;
      transform: translateY(0);
    }

    .title {
      transition: transform 800ms ease, opacity 800ms ease, color 300ms ease;
    }

    .line,
    .subtitle {
      transition: transform 1000ms ease, opacity 1000ms ease, color 300ms ease;
    }

    .work-img {
      transition: transform 500ms ease, opacity 500ms ease;
    }
  }
}