// Two column layout
.browser-col-2 {
  margin-top: 1rem;

  .browser-mockup {
    margin-bottom: 1rem;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  
    .browser-mockup {
      width: calc(50% - .5rem);
    }
  }
}

.browser-mockup {
  padding: $spacing-l;
  box-sizing: border-box;
  overflow: hidden;

  &-screen {
    position: relative;
    border-radius: 2px;
    box-shadow: $box-shadow-40;
    overflow: hidden;

    img,
    video {
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      width: auto;
      height: 100%;
    }

    video {
      width: 100%;
      height: auto;
    }

    // Aspect ratio for video
    &.video {
      padding-top: 680px / 1368px * 100%;
    }

    // Aspect ratio for image
    &.image {
      padding-top: 768px / 1368px * 100%;
    }
  }

  &.cropped-center {
    padding: $spacing-l $spacing-l 0;

    .browser-mockup-screen {
      padding-top: 568px / 1368px * 100%;
    }
  }

  &.cropped-left {
    padding: $spacing-l 0 0 $spacing-l;
  }

  &.cropped-right {
    padding: $spacing-l $spacing-l 0 0;
  }

  @media screen and (min-width: 1024px) {
    &.cropped-center {
      padding: $spacing-l + 1 $spacing-l + 2 0;
    }

    &.cropped-left,
    &.cropped-right {
      margin-right: 0;
      
      .browser-mockup-screen {
        padding-top: 768px / 930px * 100%;
      }
    }
  }
}

// enrichme
.enrichme .browser-mockup {
  background-color: #e7ebee;
}