.description {
  &-text {
    margin: calc(#{$spacing-l} - 2.4rem) 0 $spacing-l;
  
    h4 {
      margin-bottom: calc(#{$spacing-xs /2});
    }
  }

  @media screen and (min-width: 1024px) {
    padding-right: 0;
    display: flex;
    align-items: center;

    &-text {
      &.w-40-m {
        margin-right: $spacing-l;
      }
  
      &.w-100 {
        margin: 0 $spacing-l 0 0;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-gap: 0 $spacing-l;

        h4 {
          margin-bottom: 0;
        }
      }
    }
  }
}


