.mobile-mockup {
  padding: 0 calc(#{$spacing-l} / 2);
  display: flex;
  justify-content: center;
  overflow-y: hidden;

  &-container {
    margin: 0 $spacing-xs / 2;
    max-width: 30%;
    flex-grow: 1;
  }

  &-screen {
    position: relative;
    padding-top: 568px / 320px * 100%;
    border-radius: 2px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 100%;
    }

  }
  @media screen and (max-width: 768px) {
    &-container {
      min-width: 40%;
    }
  }

  @media screen and (min-width: 768px) {
    padding: $spacing-xs calc(#{$spacing-l} / 2) calc(#{$spacing-l} / 2);

    &-screen {
      box-shadow: $box-shadow-20;
    }
  }
}